@{
    ViewData["Title"] = "About XYZ";
}
<h1 class="text-green fw-bold">@ViewData["Title"]</h1>

<div class="w-100 d-flex align-items-center justify-content-center mt-5">
    <div class="about-card shadow-sm w-75 text-justify px-5 py-5">
        <p class="text-secondary">This Web Application is created by <a href="https://facebook.com/matt4youu" class="text-decoration-none fw-bold text-green">John Matthew T. Gernale</a> for personal project purposes. It's important to note that there is no intention of claiming ownership over any resources utilized in the development process. This Application aims to provide businesses with a seamless and efficient experience in managing their workforce.</p>
        <p class="text-secondary">Let's work together, I am open to any suggestion and ideas. You can stay connected with me through my social media accounts.</p>
      
            <a href="https://facebook.com/matt4youu" target="_blank" rel="noreferrer"><img class="social-icon" src="~/images/fb-icon.png" alt="Facebook Icon" /></a>
            <a href="https://instagram.com/matt4youu" target="_blank" rel="noreferrer"><img class="social-icon" src="~/images/ig-icon.png" alt="Instagram Icon" /></a>
            <a href="https://github.com/matthew-gernale" target="_blank" rel="noreferrer"><img class="social-icon" src="~/images/github-icon.png" alt="Github Icon" /></a>
            <a href="https://www.linkedin.com/in/john-matthew-gernale-baa2b4299/" target="_blank" rel="noreferrer"><img class="social-icon" src="~/images/linkedin-icon.png" alt="Linkedin Icon" /></a>
      

        <p class="text-secondary">For further exploration of my projects, please visit my website.</p>
        <a href="https://matthew-gernale.github.io/gernale-portfolio/" target="_blank" rel="noreferrer" class="btn btn-dark text-decoration-none px-5 py-2">Visit</a>
    </div>
</div>