@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold mb-5 text-green text-jakarta">Welcome To XYZ Corp Management System</h1>
    <video id="VideoPlayer" autoplay loop>
        <source src="~/images/plan-video.mp4" type="video/mp4">
    </video>
</div>
